@tailwind base;
@tailwind components;
@tailwind utilities;

.rose-gold{
    background-color: #fcf3ec
} 
.head {
    @apply shadow-2xl;
    border-bottom: 0px;
}

.hero{
  
    background-size: 70%;
}
 
.frame{ 
    overflow: hidden;  
 
}
  
  .inner-img {
    transition: transform .7s;
  
    filter: brightness(100%);
  }
 
  .inner-img:hover {
     transform: scale(1.1);
  
    filter: brightness(100%);
  }
  /* .inner-imganone:hover {
    transform: scale(1.1);
    transition: 2s;
    opacity: 1;
    filter: brightness(100%);
  }
   */
   
#header {
    width: 100%;
    position: fixed;
    z-index:9000;
    overflow: auto;
    transition: all 0.15s linear;
}

#header.active {
     box-shadow: 0 0 10px rgba(0,0,0,0.4);  
     background-color: white; 
}

.gradient-button{
    @apply bg-gradient-to-r text-red-450 border-red-450  border rounded-sm hover:from-red-450 hover:via-red-500 hover:to-red-400 focus:outline-none hover:border-opacity-0  hover:text-white transition ease-in-out duration-700;
}

.light-button{
    @apply bg-gradient-to-r text-red-450 border-red-450  border rounded-sm  hover:bg-red-450 hover:bg-opacity-20 focus:outline-none transform hover:scale-110   ;

}


/* RC TABS START */

html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
    }
.rc-tabs{
     @apply flex;
 } 

.rc-tabs-nav{
    @apply flex-initial;
  }
.rc-tabs-content-holder {
    @apply flex-1; 
  }

.rc-tabs-tab  {
    @apply p-4 text-xl cursor-pointer  text-gray-700 text-right hover:text-red-400 transition    ease-in-out duration-500 border-r-2  ;
}
/* .rc-tabs-tab-btn{
    @apply  transform hover:scale-110 transition    ease-in-out duration-500 ;
} */

 .rc-tabs-tab-active {
    @apply   border-r-2   border-red-400 text-red-400  ;
   
}

.rc-tabs-ink-bar {
   @apply bg-red-400;
  }
 
  /* RC TABS STOP */

  .pointerlist{
  list-style-image: url("./images/svg/pointer-holo.svg");

  }
  .img-gradient{
      @apply relative ml-auto mr-1 w-3/5   transition ease-in-out duration-700 transform hover:scale-105  ;
  }
  .img-gradient:after {
    @apply shadow-xl rounded-xl cursor-pointer transition ease-in-out duration-500  ;
    content:'';
    position:absolute;
    left:0; 
    top:0;
    width:100%; 
    height:100%;
    display:inline-block;
    -webkit-transition: all 3s;
    transition: all 3s;
   
    background: linear-gradient(90deg, rgba(47,45,45,0.3) 0%, rgba(138,138,138,0.3) 51%, rgba(71,62,62,0.3) 100%); /* W3C */ 
  }
  .img-gradient:hover:after{
    @apply shadow-xl rounded-xl cursor-pointer  ;
      background: transparent;
      
      filter: none; 
     
  }
  /* .img-gradient:hover{
    z-index: 50;
  } */






  input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
   -webkit-transition-delay: 9999s;
   transition-delay: 9999s;
}

.svg{
  @apply  fill-red-100 transform transition duration-500 ease-in-out;
}
.svg:hover { 
  
    @apply scale-110 fill-red-400;
}



.hover-fill:hover svg{
    @apply fill-red-400 transform scale-110; 
}

.hover-fill:hover a{
  @apply   text-red-400   ; 
}



/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 25px;
    height: 25px;
    @apply top-6 right-6;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    
    @apply bg-gray-600;
    
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    @apply bg-gray-700;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    @apply mt-6 mr-6;
    height: 15px;
    width: 15px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    @apply bg-red-100;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  .react-burger-cross-btn{

  }
  /* General sidebar styles */
  .bm-menu {
    @apply bg-gray-700;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    @apply text-gray-50 p-4;
  }
  
  /* Individual item */
  .bm-item {
    @apply py-2 inline-block;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }


